bin/Debug/net6.0/appsettings.Development.json
bin/Debug/net6.0/appsettings.json
bin/Debug/net6.0/azureappdemo.deps.json
bin/Debug/net6.0/azureappdemo.dll
bin/Debug/net6.0/azureappdemo.exe
bin/Debug/net6.0/azureappdemo.pdb
bin/Debug/net6.0/azureappdemo.runtimeconfig.json
bin/Debug/net6.0/azureappdemo.staticwebassets.runtime.json
bin/Debug/net6.0/ref/azureappdemo.dll
obj/azureappdemo.csproj.nuget.dgspec.json
obj/azureappdemo.csproj.nuget.g.props
obj/azureappdemo.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/staticwebassets.pack.sentinel
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/azureappdemo.AssemblyInfo.cs
obj/Debug/net6.0/azureappdemo.AssemblyInfoInputs.cache
obj/Debug/net6.0/azureappdemo.assets.cache
obj/Debug/net6.0/azureappdemo.csproj.AssemblyReference.cache
obj/Debug/net6.0/azureappdemo.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/azureappdemo.csproj.FileListAbsolute.txt
obj/Debug/net6.0/azureappdemo.dll
obj/Debug/net6.0/azureappdemo.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/azureappdemo.genruntimeconfig.cache
obj/Debug/net6.0/azureappdemo.GlobalUsings.g.cs
obj/Debug/net6.0/azureappdemo.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net6.0/azureappdemo.pdb
obj/Debug/net6.0/azureappdemo.RazorAssemblyInfo.cache
obj/Debug/net6.0/azureappdemo.RazorAssemblyInfo.cs
obj/Debug/net6.0/project.razor.json
obj/Debug/net6.0/staticwebassets.build.json
obj/Debug/net6.0/staticwebassets.development.json
obj/Debug/net6.0/ref/azureappdemo.dll
obj/Debug/net6.0/scopedcss/Pages/Shared/_Layout.cshtml.rz.scp.css
obj/Debug/net6.0/scopedcss/bundle/azureappdemo.styles.css
obj/Debug/net6.0/scopedcss/projectbundle/azureappdemo.bundle.scp.css
